
<div class="flex flex-row bg-[#373151] w-full h-32 mb-2 text-xl m-auto text-white text-center items-center justify-center">
    UK Parliament Person Management
</div>

<div class="flex flex-col h-22 px-8 py-3 md:flex-row sm:flex-row w-full text-secondary">Welcome to the new person manager screen. You can use this page to view persons in the system, as well as add, edit and remove existing persons.</div>
<div class=" px-8">To <b>Add</b>, complete the form on the right, all fields are required, and submit.</div>
<div class=" px-8">To <b>Edit</b>, select a row in the table below and edit the details in the form on the right, all fields are required, and submit.</div>
<div class=" px-8 pb-3">To <b>Delete</b>, click the DELETE text at the end of the relevant row and the confirm your deletion.</div>

<div class="flex flex-col md:flex-row sm:flex-row sm:gap-5 w-full">

    <!-- left -->
    <div class="flex sm:flex-col lg:flex-row-1 sm:w-3/4 w-full">
        
        <div class="flex flex-col flex-auto sm:mb-18 border border-indigo-600 rounded-lg overflow-hidden">
            <div>
                <!-- Table Header -->
                <div
                    class="person-grid justify-between z-10 text-base text-gray-600 font-semibold sticky top-0 grid gap-4 py-3 px-6 mb-3 md:px-8 rounded-lg shadow bg-slate-100">
                    <div class="hidden">
                        Id
                    </div>
                    <div
                        class="hidden sm:block truncate">
                        Firstname
                    </div>
                    <div
                        class="hidden sm:block truncate">
                        Lastname
                    </div>
                    <div
                        class="hidden md:hidden lg:block">
                        DOB
                    </div>
                    <div>
                        Email
                    </div>
                    <div
                        class="hidden  md:hidden lg:block truncate">
                        Mobile
                    </div>
                    <div
                        class="hidden md:hidden lg:block truncate">
                        Department
                    </div>
                    <div class="hidden sm:block">DELETE</div>
                </div>
                <!-- Table Rows -->
                @if (personStore.isPending()) {
                <div
                    class="grid min-h-[140px] w-full place-items-center overflow-x-scroll rounded-lg p-6 lg:overflow-visible">
                    <svg class="w-16 h-16 animate-spin text-gray-900/50"
                        viewBox="0 0 64 64"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24">
                        <path
                            d="M32 3C35.8083 3 39.5794 3.75011 43.0978 5.20749C46.6163 6.66488 49.8132 8.80101 52.5061 11.4939C55.199 14.1868 57.3351 17.3837 58.7925 20.9022C60.2499 24.4206 61 28.1917 61 32C61 35.8083 60.2499 39.5794 58.7925 43.0978C57.3351 46.6163 55.199 49.8132 52.5061 52.5061C49.8132 55.199 46.6163 57.3351 43.0978 58.7925C39.5794 60.2499 35.8083 61 32 61C28.1917 61 24.4206 60.2499 20.9022 58.7925C17.3837 57.3351 14.1868 55.199 11.4939 52.5061C8.801 49.8132 6.66487 46.6163 5.20749 43.0978C3.7501 39.5794 3 35.8083 3 32C3 28.1917 3.75011 24.4206 5.2075 20.9022C6.66489 17.3837 8.80101 14.1868 11.4939 11.4939C14.1868 8.80099 17.3838 6.66487 20.9022 5.20749C24.4206 3.7501 28.1917 3 32 3L32 3Z"
                            stroke="currentColor" stroke-width="5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M32 3C36.5778 3 41.0906 4.08374 45.1692 6.16256C49.2477 8.24138 52.7762 11.2562 55.466 14.9605C58.1558 18.6647 59.9304 22.9531 60.6448 27.4748C61.3591 31.9965 60.9928 36.6232 59.5759 40.9762"
                            stroke="currentColor" stroke-width="5"
                            stroke-linecap="round"
                            stroke-linejoin="round" class="text-gray-900">
                        </path>
                    </svg>
                </div>
                }
                @else if (personStore.isFulfilled() &&
                personStore.entities().length === 0) {
                <div
                    class="p-8 sm:p-16 text-base tracking-tight text-center">There
                    are currently no persons in the system.</div>
                }
                @else {
                @for(u of personStore.entities(); track u) {
                <div
                    class="person-grid grid justify-between gap-4 py-3 px-6 md:px-8 border-b cursor-pointer hover:bg-gray-100"
                    (click)="$event ?  selectPerson(u.id) : null"
                    title="Click to select person">
                    <div class="hidden">
                        {{u.id}}
                    </div>
                    <div class="hidden sm:block truncate">
                        {{u.firstName}}
                    </div>
                    <div class="hidden sm:block truncate">
                        {{u.lastName}}
                    </div>
                    <div class="hidden md:hidden lg:block">
                        {{u.dateOfBirth | date:'dd/MM/yyyy'}}
                    </div>
                    <div>
                        {{u.email}}
                    </div>
                    <div class="hidden md:hidden lg:block">
                        {{u.mobile}}
                    </div>
                    <div class="hidden md:hidden lg:block">
                        {{departmentStore.getNameByDeptId(u.department)}}
                    </div>
                    <div class="hidden sm:block" title="Delete Person">
                      <span class="text-red-600" (click)="deletePerson(u.id, u.firstName)">DELETE</span>
                    </div>

                </div>
                }
                }
            </div>
        </div>
    </div>

    <!-- right -->
    <div class="flex sm:flex-col lg:flex-row-1 sm:w-1/4 w-full border rounded-lg border-indigo-600 shadow-md">
            <div class="sm:block hidden text-gray-600 font-semibold text-base tracking-tight py-3 px-6 md:px-8 border-b border-b-indigo-600 bg-slate-100">Add / Edit Person</div>
            <div class="mt-8 pb-4 px-6">
                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="mb-1">
                        <mat-label>First Name</mat-label>
                        <mat-form-field appearance="outline"
                                        class="w-full">
                          <input matInput
                                 type="text"
                                 title="First Name"
                                 aria-label="first Name"
                                 formControlName="firstName"
                                 placeholder="First name"
                                 required>
                          <mat-hint>(3-20 chars)</mat-hint>
                          @if(firstName!.hasError('required') && firstName!.touched){
                          <mat-error>
                            Please enter a valid first name
                          </mat-error>
                          }
                          @if(firstName!.hasError('minlength') && firstName!.touched){
                          <mat-error>
                            Minimum length is 3 characters
                          </mat-error>
                          }
                          @if(firstName!.hasError('maxlength') && firstName!.touched){
                          <mat-error>
                            Maximum length is 20 characters
                          </mat-error>
                          }
                        </mat-form-field>
                    </div>

                    <div class="mb-1">
                        <mat-label>Last Name</mat-label>
                        <mat-form-field appearance="outline"
                                        class="w-full">
                          <input type="text"
                                 title="Last Name"
                                 aria-label="last Name"
                                 formControlName="lastName"
                                 placeholder="Last name"
                                 matInput>
                          <mat-hint>(3-20 chars)</mat-hint>
                          @if(lastName!.hasError('required') && lastName!.touched){
                          <mat-error>
                            Please enter a valid last name
                          </mat-error>
                          }
                          @if(lastName!.hasError('minlength') && lastName!.touched){
                          <mat-error>
                            Minimum length is 3 characters
                          </mat-error>
                          }
                          @if(lastName!.hasError('maxlength') && lastName!.touched){
                          <mat-error>
                            Maximum length is 20 characters
                          </mat-error>
                          }
                        </mat-form-field>
                    </div>

                    <div class="mb-2">
                        <mat-label id="email">Email</mat-label>
                        <mat-form-field appearance="outline"
                                        class="w-full">
                          <input type="email"
                                 title="Email"
                                 aria-label="email"
                                 matInput
                                 required
                                 formControlName="email"
                                 placeholder="Email">
                          <mat-hint>(max 35 chars)</mat-hint>
                          @if((email!.hasError('email') || email!.hasError('required')) && email!.touched){
                          <mat-error>
                            Please enter a valid email
                          </mat-error>
                          }
                          @if(email!.hasError('maxlength') && email!.touched){
                          <mat-error>
                            Maximum length is 35 characters
                          </mat-error>
                          }
                        </mat-form-field>
                    </div>

                    <div class="mb-2">
                        <mat-label id="mobile">Mobile</mat-label>
                        <mat-form-field appearance="outline"
                                        class="w-full">
                          <input type="tel"
                                 aria-label="mobile"
                                 matInput
                                 required
                                 formControlName="mobile"
                                 placeholder="Mobile number">
                          <mat-hint>(10-15 chars. Can include spaces)</mat-hint>
                          @if(mobile!.hasError('required') && mobile!.touched){
                          <mat-error>
                            Please enter a valid mobile number
                          </mat-error>
                          }
                          @if(mobile!.hasError('minlength') && mobile!.touched){
                          <mat-error>
                            Minimum length is 10 characters
                          </mat-error>
                          }
                          @if(mobile!.hasError('maxlength') && mobile!.touched){
                          <mat-error>
                            Maximum length is 15 characters
                          </mat-error>
                          }
                        </mat-form-field>
                    </div>

                    <div class="mb-2">
                        <mat-label id="dateOfBirth">Date Of Birth</mat-label>
                        <mat-form-field appearance="outline"
                                        class="w-full">
                          <input readonly
                                 aria-label="date Of Birth"
                                 matInput
                                 [matDatepicker]="picker"
                                 required
                                 formControlName="dateOfBirth"
                                 placeholder="Date of Birth">
                          <mat-datepicker-toggle matIconSuffix
                                                 [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          @if(dateOfBirth!.hasError('required') && dateOfBirth!.touched){
                          <mat-error>
                            Please select a valid date of birth
                          </mat-error>
                          }
                        </mat-form-field>
                    </div>

                    <div class="mb-2">
                        <mat-label id="department">Department</mat-label>
                        <mat-form-field appearance="outline"
                                        class="w-full">
                          <mat-icon class="icon-size-5"
                                    matPrefix></mat-icon>
                          <mat-select formControlName="department"
                                      placeholder="Select Department"
                                      aria-label="department">
                            @for (u of departmentStore.entities(); track
                            u.id) {
                            <mat-option [value]="u.id">{{u.name}}</mat-option>
                            }
                          </mat-select>
                          @if(department!.hasError('required') && department!.touched){
                          <mat-error>
                            Please select a department
                          </mat-error>
                          }
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div class="flex items-center justify-end gap-2">
                        <button class="text-white px-1 py-2 rounded-lg border bg-red-600 hover:bg-red-700 w-1/2"
                            matButton
                            type="button"
                            (click)="cancel()">
                            Cancel
                        </button>
                        <button class="text-white px-1 py-2 rounded-lg border bg-blue-600 hover:bg-blue-700 w-1/2"
                            [disabled]="form.invalid"
                            matButton
                            type="submit">
                            @if (selectedPersonId == '') {
                                Add Person
                            }
                            @else {
                                Update Person
                            }

                        </button>
                    </div>
                </form>
            </div>
    </div>
</div>
